<configuration scan="true" scanPeriod="30 seconds">

	<timestamp key="bySecond" datePattern="yyyyMMdd'_'HHmmss" />
	<timestamp key="byDay" datePattern="yyyyMMdd" />


	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>./logs/BatteryIconCreator.${byDay}.log</file>
		<append>true</append>
		<encoder>
			<Pattern>%d{HH:mm:ss} %-5level %-25logger{0} - %msg %n</Pattern>
		</encoder>
	</appender>

	<!-- <appender name="ZIPFILE" class="ch.qos.logback.core.FileAppender"> 
		<file>./logs/Zipper.${bySecond}.log</file> <append>true</append> <encoder> 
		<Pattern>%d{HH:mm:ss} %-5level %-20logger{0} - %msg %n</Pattern> </encoder> 
		</appender> -->

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss} %-5level %-25logger{0} - %msg %n</Pattern>
		</encoder>
	</appender>

	<!-- <logger name="de.og.batterycreator.zipcreator"> <level value="info" 
		/> <appender-ref ref="FILE" /> <appender-ref ref="CONSOLE" /> </logger> -->


	<!-- If you need to see mor in the Logfile...set this from "info" to "debug" -->
	<root level="info">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>


</configuration>